@charset "utf-8";
*{
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif  ;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
img{
    width: 100vw;
    height: 100%;
}
a{
    line-height: 50px;
    display: block;
    border-radius: 7px 7px 0px 0px;
    background-color: rgba(128, 255, 0, 0.727);
    font-weight: bold;
    font-size: 1.3em;
    text-decoration: none;
    color: white;
    
    text-align: center;
    width: 100%;
    height: 60px;
}
a:hover{
    background-color: rgba(128, 255, 0, 0.862);
    text-decoration: underline;
    transition: background-color 0.5s ease-in;

}